body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
  }
  
  .App {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  